@model RoleFormViewModel
<form method="post" asp-action="add">
    <div class="input-group mb-3">
        <input asp-for="Name" class="form-control" placeholder="Role Name ..." />
    </div>
    <div class="input-group-append">
        <button type="submit" class="btn-primary">Add New Role</button>
    </div>
    <span asp-validation-for="Name" class="text-danger">

    </span>
</form>