@model IEnumerable<IdentityRole>
@{
    ViewData["title"] = "Roles";
}

<h1>Roles</h1>
<partial name="_RoleForm" model="new RoleFormViewModel()" />
<table class="table table-striped m-4">
    <thead>
        <tr class="bg-primary text-white">
            @*<th>Id</th>*@
            <th>Role Name </th>
        </tr>
    </thead>

    @foreach (var role in Model)
    {
        <tr>
            @*<td>@role.Id</td>*@
            <td>@role.Name</td>
        </tr>
    }
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}